@model string   
@{
    Layout = "_Layout";
}

<div style="background-color: rgba(255, 255, 0, 0.767);" class="card-text text-white">
    <h1>Chao xìn  @Model </h1>
    <p>HelloView is here!!!</p>
</div>
<hr>
@this.Path
