@model App.Models.ProductModel
@{
    var Product3 = ViewBag.product as ProductModel;
}
<p>@ViewData["Title"]</p>
<div class="card bg-warning text-white">
    <h1 class="card-header">@Product3.Name</h1>
    <div class="card-body">
        <p class="card-text">
            Giá: @Product3.Price
        </p>
    </div>
</div>

<hr>
@this.Path
