@model string   
@{
    Layout = "_Layout";
}

<div style="background-color: rgb(0, 162, 255);" class="card-text text-white">
    <h1>Chao xìn View2  @Model </h1>
    <p>view2 is here!!!</p>
</div>
<hr>
@this.Path
